body, html{
    background-color: #2d2d2d;
}

/* NAV NAV NAV NAV NAV NAV NAV NAV NAV */

ul.topnav {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: relative;
    z-index: 4;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 25px;
    text-decoration: none;
    transition: color .3s ease-in;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
   font-size: 14px;

}

ul.topnav li {
    float: right;
}

ul.topnav li.left {
    float: left;
}

ul.topnav li a:hover:not(.active) {
    color: gray;
}

ul.topnav img {
    height: 75px;
    width: auto;
}

/* D3 D3 D3 D3 D3 D3 D3 D3 D3 D3 D3 D3 */

.node circle {
    fill: white;
    stroke: white;
    stroke-width: 3px;
}

.link {
    stroke: white;
    fill: none;
    stroke-width: 32px;
}

.node text { 
    color: #202020;
    font-size: 0px;
    font-family: sans-serif;
    letter-spacing: .1em;
    text-shadow: 
      -1px -1px 1px #111, 
      2px 2px 1px #363636;
}

svg {
    display: block;
    margin: auto;
    margin-top: 7%;
}